#Aca se le indica que es el archivo principal
root = true

#el asterisco apunta a todos los archivos
[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
